body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

#score {
    margin: 100px;
}

#leaderboard {
    margin: 100px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    grid-gap: 1px;
    background-color: #333;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #222;
}
